div.container, main{
    border-radius: 20px;
}
img, div.mx-auto{
    width: 300px;
}
main{
    
    background-color: rgba(255, 255, 255, 0.5)
}

body{
    font-size: 1.3em;
    background-image: url(../img/bg-casino.jpg);
    background-size:cover;
}